<h1 class="heading">Vegan and Vegetarian Diets</h1>
<div id="container">
<h2 class="heading">What is the difference between a Vegan Diet and Vegetarian Diet?</h2>
<p class="para" >The difference between a vegan diet and a vegetarian diet is that a vegan eliminates all animal products from his or her diet, including dairy;
whereas a vegetarian does not eat meat, fish or poultry, but might eat dairy products such as cheese, eggs, yogurt or milk. There are many different
types of vegetarin diets. The list below describes what they are based on the type of food you choose to consume.</p>
<div id="list">
<ul>
  <li><span>Vegan</span>
    <ul>
      <li><b>Foods Consumed:</b>
         <ul>
            <li>Only plant-based foods</li>
        </ul>
			</li>
		 <li class="no"><b>Foods Not Consumed:</b>
         <ul>
            <li>Meat</li>
            <li>Poultry</li>
            <li>Fish</li>
            <li>Milk</li>
            <li>Eggs</li>
            <li>Cheese</li>
            <li id="bottom_list">Honey</li>
         </ul>
      </li>
  </ul>
	</li>
  <li><span>Lacto-vegetarian</span>
      <ul>
         <li><b>Foods Consumed:</b>
            <ul>
               <li>Plant-based foods</li>
               <li>Milk</li>
               <li>Milk products
                  <ul>
                     <li>Cheese</li>
                     <li>Yogurt</li>
                  </ul>
               </li>
            </ul>
				 </li>
				 <li class="no"><b>Foods Not Consumed:</b>
						 <ul>
								<li>Meat</li>
								<li>Poultry</li>
								<li>Fish</li>
								<li>Eggs</li>
						 </ul>
				 </li>
		</ul>
	</li>


	<li class="list_col2"><span>Lacto-ovo vegetarian</span>
		 <ul>
				<li><b>Foods Consumed:</b>
						<ul>
							 <li>Plant-based foods</li>
							 <li>Milk</li>
							 <li>Milk products
									<ul>
										 <li>Cheese</li>
										 <li>Yogurt</li>
										 <li>Eggs</li>
									</ul>
							 </li>
						</ul>
				</li>
				 <li class="no"><b>Foods Not Consumed:</b>
						 <ul>
								<li>Meat</li>
								<li>Poultry</li>
								<li>Fish</li>
						 </ul>
				 </li>
			 </ul>
		 </li>
		 <li class="list_col3"><span>Flexitarian (semi-vegetarian)</span>
				<ul>
						<li><b>Foods Consumed:</b>
							 <ul>
								 <li>Plant-based foods</li>
							 </ul>
						</li>
					<li><b>Foods Consumed<span class="smtext">(Occasionally)</span></b>
						 <ul>
								<li>Meat</li>
								<li>Poultry</li>
								<li>Fish</li>
						</ul>
					</li>
			 </ul>
		 </li>
</ul>
</div>
<h2 class="heading">What are the benefits of a Vegan or Vegetarian Diet?</h2>
<p class="para">The number-one reason why people choose to follow this way of eating is due to the health benefits.
Research has shown that people who follow a vegetarian diet are at a lower risk for obesity, cardiovascular disease,
hypertension, type 2 diabetes, diverticulosis, renal disease, some cancers (including lung and breast), and gallstones.
 Vegetarian diets have also been shown to benefit people who already have type 2 diabetes.</p>
 <p>The reason for these health benefits comes from the lower intakes of saturated fat and cholesterol and the higher intakes
 of complex carbohydrates, dietary fiber, certain minerals, and phytochemicals. Since cholesterol is only found in animal foods,
 vegan diets are completely cholesterol-free.</p>
<h2 class="heading">What are the potential health problems from consuming a Vegetarian and Vegan diet?</h2>
	<p class="para"> Vegetarian diets can be nutritionally balanced, even tho they don't consume meats, but it'll take some planning to do this. According to many
	studies, it's the poor meal planning that causes nutritional deficiencies in vegetarian diets, not the absence of animal foods. </p>
<p>The nutrients for which you are at risk of not getting enough of will depend on the foods that you have omitted from your diet.
The most common nutrients to be aware of lacking in a vegetarian diet are Omega-3 fatty acids, Vitamin B12, Calcium, and Iron.</p>
</div>

