<h1>Celiac Disease and Gluten Free Living</h1>
	<div id="container">
	<h2>What is Celiac Disease?</h2>
		<p>Celiac disease is a lifelong (chronic) condition in which foods that contain gluten-proteins found in some grains (notably wheat, barley, and rye)-trigger an immune system response that is not normal and that damages the small intestine. The small intestine then does not absorb nutrients properly.</p>
		<p>Celiac disease is treated by adopting a strict gluten-free diet.</p>
		<p>Celiac disease is also known as celiac sprue, gluten-sensitive enteropathy, or nontropical sprue.</p>
		<p>Having this disease basically forces an individual to go on a &ldquo;Gluten-Free&rdquo; Diet.</p>

	<h2>Symptoms of Celiac Disease</h2>
		<p>Symptoms of celiac disease, when they occur, include lack of energy, weight loss or failure to grow, abdominal bloating or cramps, diarrhea, and constipation. Children may vomit and be irritable much of the time. Adults may also have fertility problems or depression but are more likely than children to have mild or no symptoms.</p>
		<p>When people with celiac disease choose to eat gluten, they trigger an abnormal immune system response even when they do not notice any symptoms. The immune system response damages the small intestine. If people with celiac disease continue to eat foods with gluten, it may lead to complications, such as osteoporosis, lymphoma, anemia, or intestinal cancer.</p>
		<p>Source: <a>href="http://www.webmd.com/hw-popup/celiac-disease">http://www.webmd.com/hw-popup/celiac-disease</a></p>

	<h2>What exactly is gluten?</h2>
		<p>Gluten is a form of protein found in many grains, such as wheat, barley, and rye.</p>

	<h2>How many people suffer from Celiac Disease?</h2>
		<p>At least 1 in 133 people suffer.</p>

	<h2>Who is primarily affected?</h2>
		<p>The disease mostly affects people of European (especially Northern European) descent, but recent studies show that it also affects Hispanic, Black and Asian populations as well.</p>

	<h2>Must a person who has Celiac Disease abstain from ALL Gluten?</h2>
		<p>You absolutely must avoid gluten if you have celiac disease. That's the only way to halt the disease's symptoms, heal existing villi damage, and prevent destruction of the small intestine. Even if you have only a mild reaction to gluten, you may decide to keep this protein out of your diet.</p>

	<h2>What are some examples of foods to be avoided during a Gluten-Free diet?</h2>
	<ul>
		<li>Salad Dressings</li>
		<li>Cold Cuts</li>
		<li>Egg Substitutes</li>
		<li>Instant Flavored Rice Mixes</li>
		<li>Beer - Some Gluten-Free varieties are available</li>
		<li>Flavored Potato Chips</li>
		<li>Imitation Crab (Surimi)</li>
		<li>Some Herbal Teas</li>
		<li>Licorice and some chocolates</li>
	</ul>

	<h2>Specifics On What To Eat and Not To Eat</h2>
     <h3>Don't eat:</h3>
		<ul>
		  <li>Wheat and all its forms, including semolina, spelt, kamut, einkorn, and farro</li>
		  <li>Rye</li>
		  <li>Barley</li>
		  <li>Triticale</li>
		  <li>Oat bran</li>
		  <li>Wheat germ</li>
		  <li>Bran</li>
		  <li>Graham, gluten, or durum flour</li>
		  <li>Farina</li>
		</ul>
    <h3>Do eat:</h3>
		<ul>
		  <li>Amaranth</li>
		  <li>Quinoa</li>
		  <li>Buckwheat</li>
		  <li>Popcorn</li>
		  <li>Cornmeal (polenta and tortillas)</li>
		  <li>Millet</li>
		  <li>Breads, cereals, crackers, and pasta made of corn, rice, potato, soy,
		arrowroot, tapioca, sago, flax, and hominy.</li>
		</ul>
    <h2>What about oats?</h2>
		<p>Oats for celiac disease has been controversial, but recent research has spurred many organizations to give oats the thumbs up. The problem is possible contamination of oats with other gluten-containing grains. Case says pure oats - those not contaminated by other grains - are recommended by a majority of celiac organizations in Canada and the U.S.</p>

	<h2>Cross-contamination issues</h2>
		<p>Special care is necessary when checking product ingredient lists since gluten comes in many forms: vegetable proteins and starch, modified food starch (when derived from wheat instead of maize), malt flavoring, including maltodextrine, dextrine and dextrose, unless specifically labeled as corn malt. Many ingredients contain wheat or barley derivatives.</p>

	</div>
